
/* 2. Diretivas do Tailwind (Obrigatório para os estilos e gráficos funcionarem) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Estilos globais extras */
body {
  background-color: #f8fafc; /* Slate-50 */
  color: #1e293b; /* Slate-800 */
}